html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}

body{
	width:100%;
	margin:0 auto;
	font-size:20px;
}

#wrapper {
	padding: 3px;
	width:800px;
	margin:0 auto;
	text-align:center;
}

#score {
	font-size:1.2em;
	padding:2px;
}

p {
	color:grey;
}

#footer {
	border-top: grey 1px solid;
	padding:5px;
	font-size:0.5em;
	text-align:center;
}